<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.oauth.mapper.UserMapper">
 <select id="byUserName" resultType="com.my.oauth.entity.User">
     select * from user where user_name=#{username}
 </select>
</mapper>